body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
/*body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
/* a:link{color:#009;}
a:visited{color:#800080;}
a:active{color:#cfbecf;} */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
/*  */
html {
  font-size: 14px;
}
/*  */
html,
body {
  min-height: 100%;
}
img[alt='www.000webhost.com'] {
  display: none !important;
}

#mainBox {
  position: relative;
  min-height: 100%;
}
#mainBox .h-title {
  text-align: center;
}
#homeCanvas {
  z-index: -1;
}
.content-box {
  padding-top: 15vw;
}
.content-box .me-list li {
  padding: 1.3vw 4vw;
}
.content-box .me-list li::before {
  content: '';
  border-left: 1px solid blue;
  padding-right: 1px;
}
.content-box .me-list li a {
  color: gray;
}
@media screen and (min-width: 640px) {
  body {
    background: #fff4f0;
  }
  #mainBox {
    width: 375px;
    margin: auto;
    background: white;
  }
  #homeCanvas {
    z-index: 2;
  }
  .content-box {
    display: none;
  }
}

